<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crell.common.mapper.UserMapper">

  <sql id="userColumns">
    a.id,
    a.userName,
    a.email
  </sql>

  <select id="findList" parameterType="Page" resultType="User">
    select
      <include refid="userColumns"/>
    from user a
    WHERE a.del_flag = #{delFlag}
  </select>

  <select id="get" resultType="User">
    select
      <include refid="userColumns"/>
    from user a
    WHERE id = #{id}
  </select>

  <insert id="insert">
    INSERT INTO user(
    id,
    userName,
    email,
    create_by,
    create_date,
    update_by,
    update_date,
    remarks,
    del_flag
    ) VALUES (
    #{id},
    #{userName},
    #{email},
    #{createBy},
    #{createDate},
    #{updateBy},
    #{updateDate},
    #{remarks},
    #{delFlag}
    )
  </insert>

  <update id="update">
    UPDATE user SET
    userName = #{userName},
    email = #{email},
    update_by = #{updateBy},
    update_date = #{updateDate},
    remarks = #{remarks}
    WHERE id = #{id}
  </update>

  <update id="delete">
    UPDATE user SET
    del_flag = #{DEL_FLAG_DELETE}
    WHERE id = #{id}
  </update>
 
</mapper>